@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,700&display=swap');

@font-face {
    font-family: "Brittany";
    src: url("../assets/fonts/brittany/Brittany.ttf");
} 

*::-webkit-scrollbar {
    width: 13px;
  }
  
  *::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #35dddd 30%, #d64ffb 100%);
    border-radius: 8px;
    border: 3px solid #ffffff;
  }


.brittany {
    font-family: "Brittany";
}

.nav-link:hover {
    border-bottom: 2px solid #d623fe;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-attachment: fixed;
}

h1, h2, h3, h4 {
    color: rgb(42, 42, 42);
}

h1 {
    font-size: 3rem;
    font-weight: 500;
}

h3 {
    font-style: italic;
}

.border-btn {
    border: 2px solid #d623fe;
}

.button:hover {
    background-color: #d623fe !important;
    color: white;
}

.bg-waves {
    background-image: url("../assets/img/bg-waves.png");
    background-position: top;
    height: 100vh;
}

.bg-skills {
    background-color: #ffffff;
}

.border-color {
    border-color: 3px solid rgba(143,255,255) !important;
}

.splide__arrow {
    background: #E1A2F2;
}

.splide__pagination__page.is-active {
    background: #d870f5;
    transform: scale(1.4);
    z-index: 1;
}

.card-proyecto1 {
    background-image: url("../assets/img/resto-del-mundo.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 30vh;
}

.card-proyecto2 {
    background-image: url("../assets/img/juego-js.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 30vh;
}

.card-proyecto3 {
    background-image: url("../assets/img/relax-ecommerce.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 30vh;
}

.card-proyecto4 {
    background-image: url("../assets/img/3ng-tech.png");
    background-size: cover;
    background-position: start;
    background-repeat: no-repeat;
    height: 30vh;
}

.card-proyecto5 {
    background-image: url("../assets/img/portfolio-fotografa.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 30vh;
}

.contenedor-contacto {
    bottom: 77px;
}

.logo-html, .logo-bs  {
    width: 40px; 
}

.logo-css {
    width: 50px; 
}

.dark-salmon {
    color: darksalmon !important;
}

.bg-dark-salmon {
    background-color: darksalmon !important;
}

.bg-light-salmon {
    background-color: #fd9da4;
}

.icono-redes {
    width: 40px;
}

/* SECCIÓN MIS PROYECTOS */
.card {
    view-timeline-name: --image;
    view-timeline-axis: block;

    animation-timeline: --image;
    animation-name: show;

    animation-range: entry 25% cover 50%;
    animation-fill-mode: both
}

/* SECCIÓN DE TESTIMONIOS */
.testimonials {
    max-width: 80%;
    min-height: 55vh;
}

/* CONTACTO */
.bg-fondo-contacto {
    background-image: url("../assets/img/wave.svg");
    background-size: cover;
    background-position: bottom;
    height: 50vh;
    display: flex;
    justify-content: center;
}

.contenedor-contacto {
    top: 200px;
}

.navbar-toggler {
    border: none !important;
}

@keyframes show {
    from {
        opacity: 0;
        scale: 25%;
    }

    to {
        opacity: 1;
        scale: 100%
    }
}

@media (max-width: 768px) {
    .contenedor-contacto {
        top: 80px;
    }

    .navbar-collapse {
        background-color: #ffffff;
        border-radius: .5rem;
        padding: 5px;
    }

    .testimonials {
        min-height: 30vh;
    }
}